  #login-box {
    width: 600px;
    border: 2px solid #e4e4e4;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
  }

  #login-text {
    font-weight: bold;
    padding-top: 3%; color: #3477e2;
    font-family: Source Sans Pro;
    font-size: 30px;
    margin-bottom: 0%;
  }

  .login-input {
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 10px;
      font-size: 16px;
      width: 500px;
      text-align: center;
    }

  .login-label {
    font-size: 15px;
    font-weight: 600;
  }

  .error-highlight {
    color: red;
    font-size: 0.8rem;
  }

  .Login-button {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 48px;
    font-family: Source Sans Pro,sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #6498f4;
    padding: 12px;
    width: 75%;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .Google-Login {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 48px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    background-color: white;
    padding: 12px;
    width: 75%;
    margin-bottom: 15px;
  }

  footer {
    font-size: 15px;
    text-align: center;
    font-family: Verdana, sans-serif;
    margin-top: 15px;
  }
