<div id="login-box">
    <div style = "text-align: center; font-size: large;">
        <p id = login-text>Login Page</p>
        <p style="font-size: small; color: #3477e2; margin-bottom: 20px;">
            Get access to your Orders, Wishlist and Recommendations </p>

      <form #login="ngForm">
        <div>
          <label for="email">Username</label>
          <input
            ngModel
            id="email"
            name="email"
            #email="ngModel"
            [(ngModel)]="username"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          <div *ngIf="email.touched && email.invalid">
            <div *ngIf="email.errors?.required">Email is required.</div>
            <div *ngIf="email.errors?.pattern">Email is invalid.</div>
          </div>
        </div>
        <div>
          <label for="password">Password</label>
          <input
            ngModel
            id="password"
            name="password"
            #password="ngModel"
            [(ngModel)]="password1"
            required
            minlength="8">
          <div *ngIf="email.touched && email.invalid">
            <div *ngIf="password.errors?.required">Password is required</div>
            <div *ngIf="email.errors?.valid">Very short password</div>
          </div>
        </div>
        <button type="submit" (click)="login1()" [disabled]='login.invalid'>Submit</button>
      </form>

<!--        <form action = "test.java">-->
<!--            <div class="mb-3">-->
<!--                <label class="form-label"></label>-->
<!--                <input type="email" class="login-input" name="email" placeholder="Email-Id" [(ngModel)]="email">-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <label class="form-label"></label>-->
<!--                <input type="password" class="login-input" name="password" placeholder="Password" [(ngModel)]="password">-->
<!--            </div>-->

<!--            <div>-->
<!--                <div>-->
<!--                    <label for = "T&C1">-->
<!--                        <input type = "checkbox" value = "T&C1" name = "class" id = "T&C1"> I Accept all the terms and Conditions-->
<!--                    </label>-->
<!--                    <br>-->
<!--                    <label for = "T&C2">-->
<!--                        <input type = "checkbox" value = "T&C2" name = "class" id = "T&C2"> I know my usage will be monitored-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->

<!--            <button (click)="login()" *ngIf="!loginStatus" class="Login-button">Login</button>-->
<!--            <button *ngIf="loginStatus" class="Login-button">Loading...</button>-->
<!--          <div>-->
<!--            <button class="Google-Login">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">-->
<!--                <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>-->
<!--              </svg>-->
<!--              Sign-in via Google</button>-->
<!--          </div>-->
<!--        </form>-->
    </div>
</div>

<footer>
    <p> Not an registered user? <a routerLink="/create-account"> Create Account</a></p>
</footer>
